In [1]:
import pandas as pd
books=pd.read_csv(r"C:\data\data science\Study material\Data mining unsupervised learning-association rules\Datasets_Association Rules\book.csv")
books

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [2]:
books.isna().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

In [5]:
duplicates=books.duplicated()
duplicates
sum(duplicates)

1680

In [6]:
final_books=books.drop_duplicates()
final_books

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1956,1,0,1,0,1,0,0,0,1,0,0
1959,1,1,1,1,1,1,1,1,0,1,0
1960,1,0,1,1,1,0,0,1,1,0,1
1983,1,1,1,0,1,1,0,1,1,1,0
1995,0,0,1,0,0,1,1,1,0,1,1

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules

In [18]:
#calculating frequent items
frequent_items=apriori(books,min_support=0.0075,max_len=4,use_colnames=True)
frequent_items

     support                        itemsets
0     0.4230                      (ChildBks)
1     0.2475                      (YouthBks)
2     0.4310                       (CookBks)
3     0.2820                      (DoItYBks)
4     0.2145                        (RefBks)
..       ...                             ...
214   0.0130   (Florence, ItalCook, GeogBks)
215   0.0115   (ItalArt, ItalAtlas, GeogBks)
216   0.0090    (Florence, ItalArt, GeogBks)
217   0.0125  (ItalArt, ItalCook, ItalAtlas)
218   0.0095   (Florence, ItalArt, ItalCook)

[219 rows x 2 columns]

In [21]:
#most frequent items based on support
frequent_items.sort_values('support',ascending=False,inplace=True)
frequent_items

     support                        itemsets
2     0.4310                       (CookBks)
0     0.4230                      (ChildBks)
3     0.2820                      (DoItYBks)
6     0.2760                       (GeogBks)
12    0.2560             (ChildBks, CookBks)
..       ...                             ...
187   0.0090  (Florence, ItalCook, DoItYBks)
142   0.0085  (ItalArt, ItalAtlas, YouthBks)
201   0.0075    (Florence, RefBks, ItalCook)
189   0.0075   (Florence, ItalArt, DoItYBks)
141   0.0075  (Florence, ItalCook, YouthBks)

[219 rows x 2 columns]

In [28]:
#Association rules: lift
rules=association_rules(frequent_items,metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
1,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
2,(ChildBks),(GeogBks),0.4230,0.2760,0.1950,0.460993,1.670264,0.078252,1.343211
3,(GeogBks),(ChildBks),0.2760,0.4230,0.1950,0.706522,1.670264,0.078252,1.966074
4,(CookBks),(GeogBks),0.4310,0.2760,0.1925,0.446636,1.618245,0.073544,1.308361
...,...,...,...,...,...,...,...,...,...
1023,"(Florence, YouthBks)",(ItalCook),0.0255,0.1135,0.0075,0.294118,2.591345,0.004606,1.255875
1024,"(ItalCook, YouthBks)",(Florence),0.0590,0.1085,0.0075,0.127119,1.171600,0.001099,1.021330
1025,(Florence),"(ItalCook, YouthBks)",0.1085,0.0590,0.0075,0.069124,1.171600,0.001099,1.010876
1026,(ItalCook),"(Florence, YouthBks)",0.1135,0.0255,0.0075,0.066079,2.591345,0.004606,1.043450
1027,(YouthBks),"(Florence, ItalCook)",0.2475,0.0175,0.0075,0.030303,1.731602,0.003169,1.013203

In [31]:
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]).head(10)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
365,(ItalAtlas),(RefBks),0.0370,0.2145,0.0370,1.0,4.662005,0.029063,inf
480,"(ItalAtlas, CookBks)",(RefBks),0.0285,0.2145,0.0285,1.0,4.662005,0.022387,inf
486,"(ChildBks, ItalAtlas)",(RefBks),0.0285,0.2145,0.0285,1.0,4.662005,0.022387,inf
578,"(ItalCook, ItalAtlas)",(RefBks),0.0230,0.2145,0.0230,1.0,4.662005,0.018066,inf
610,"(ItalAtlas, GeogBks)",(RefBks),0.0205,0.2145,0.0205,1.0,4.662005,0.016103,inf
665,"(DoItYBks, ItalAtlas)",(RefBks),0.0190,0.2145,0.0190,1.0,4.662005,0.014925,inf
686,"(ArtBks, ItalAtlas)",(RefBks),0.0180,0.2145,0.0180,1.0,4.662005,0.014139,inf
714,"(ItalAtlas, YouthBks)",(RefBks),0.0175,0.2145,0.0175,1.0,4.662005,0.013746,inf
746,"(ItalArt, ItalAtlas)",(RefBks),0.0165,0.2145,0.0165,1.0,4.662005,0.012961,inf
305,(ItalArt),(ArtBks),0.0485,0.2410,0.0485,1.0,4.149378,0.036812,inf

In [33]:
#Association rules: cofidence
rules=association_rules(frequent_items,metric='confidence',min_threshold=1)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ItalCook),(CookBks),0.1135,0.431,0.1135,1.0,2.320186,0.064582,inf
1,"(ChildBks, ItalCook)",(CookBks),0.0850,0.431,0.0850,1.0,2.320186,0.048365,inf
2,"(ItalCook, GeogBks)",(CookBks),0.0640,0.431,0.0640,1.0,2.320186,0.036416,inf
3,"(ItalCook, YouthBks)",(CookBks),0.0590,0.431,0.0590,1.0,2.320186,0.033571,inf
4,"(DoItYBks, ItalCook)",(CookBks),0.0585,0.431,0.0585,1.0,2.320186,0.033287,inf
5,"(ArtBks, ItalCook)",(CookBks),0.0565,0.431,0.0565,1.0,2.320186,0.032148,inf
6,(ItalArt),(ArtBks),0.0485,0.241,0.0485,1.0,4.149378,0.036812,inf
7,"(RefBks, ItalCook)",(CookBks),0.0465,0.431,0.0465,1.0,2.320186,0.026458,inf
8,"(ItalArt, CookBks)",(ArtBks),0.0410,0.241,0.0410,1.0,4.149378,0.031119,inf
9,"(ItalArt, ItalCook)",(ArtBks),0.0375,0.241,0.0375,1.0,4.149378,0.028463,inf